<div class="container  align-items-center edit-event">
  <div class="row align-items-center" style="">
    <div id="form" class="id-form-div col-12 d-flex justify-content-center align-items-center">
      <div class="text-left">
        <form action="/login" method="POST" class="text-center align-items">
          <h1>Login</h1>

          <label class="id-forms col-12">
            <input type="email" name="email" placeholder="example@example.com" />
          </label>

          <label class="id-forms col-12">
            <input type="password" name="password" placeholder="********" />
          </label>

          <div class="col-12 id-forms">
            <button type="submit" class="btn btn-outline-dark bg-dark btn-floating m-1 text-light">Login</button>
          </div>

          {{#if errorMessage}}
          <p class="error">{{errorMessage}}</p>
          {{/if}}
        </form>
      </div>
    </div>
  </div>
</div>