<div class="container">
  <div class="row">
    <div id="form" class="text-center" style="padding-top: 20%;">
      <h2>Signup</h2>

      <form action="/signup" method="POST" class="text-center align-items">

        <label class="col-12">
          <input type="text" name="username" placeholder="Username"/>
        </label>

        <label class="col-12">
          <input type="email" name="email" placeholder="example@example.com"/>
        </label>

        <label class="col-12">
          <input type="password" name="password" placeholder="********"/>
        </label>

        <div class="col-12">
          <button type="submit" class="btn btn-outline-dark bg-dark btn-floating m-1 text-light">Signup</button>
        </div>


        {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
        {{/if}}
      </form>
    </div>
  </div>
</div>