<div class="container">
  <div class="row">
    <div id="form" class="text-center">
      <h2>Signup</h2>

      <form action="/signup" method="POST">

        <label>
          <input type="text" name="username" placeholder="Username" class="col-sm-12" />
        </label>

        <label>
          <input type="email" name="email" placeholder="example@example.com" class="col-sm-12" />
        </label>

        <label>
          <input type="password" name="password" placeholder="********" class="col-sm-12" />
        </label>

        <div>
          <button type="submit" class="btn btn-outline-dark bg-dark btn-floating m-1 text-light">Signup</button>
        </div>


        {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
        {{/if}}
      </form>
    </div>
  </div>
</div>