<div class="container week">
    <div class="row align-items-center pt-2">
        <div class="col-12  d-flex card text-center ">
            <div>
                <h1>Week 51</h1>
            </div>
        </div>

        <div class="col-12 col-md-6 d-flex card text-center ">
            <div class="card-img-top"><img src="/images/day-glass.png"></div>
        </div>


        <div class="col-12 col-md-6 d-flex card text-center ">
            <div class="card-list">
                <h3>All my events:</h3>
                {{#each events}}
                <a href="/calendar/event/{{_id}}">{{this.name}}</a>
                {{/each}}
            </div>
        </div>

        <div class="col-12 d-flex justify-content-center ">
            <a href="/calendar/new-event/{{day_id}}" class="btn btn-outline-dark bg-dark btn-floating m-1 text-light"
                style="font-size: 60px; width: 100px">+</a>
        </div>
    </div>
</div>
<input hidden value="{{day_id}}" id="day-id">
<script src="../../js/APIHandler.js"></script>
<script src="../../js/index.js"></script>
