<h1>{{date}}</h1>

<form action="/calendar/new-event" method="POST">
  <label for="title">
    Category <input name="category" id="title" type="text">
  </label>
  </br>

  <label for="">
    Name of Event <input name="name" type="text">
  </label>
  </br>

  <label for="">
    Duration <input name="duration" type="number">
  </label>
  </br>

  <label for="">
    Description <input name="description" type="text">
  </label>

  <button type="submit">Start</button>
</form>