<div class="container week">
    <div class="row align-items-center pt-2">
        <div class="col-12  d-flex card text-center ">
            <div>
                <h1 class="card-title">Week 1</h1>
            </div>
        </div>

        <div class="col-12 col-md-6 d-flex card text-center ">
            <div class="card-img-top"><img src="/images/week-jug.png"></div>
        </div>


        <div class="col-12 col-md-6 d-flex card text-center ">
            <div class="card-list">
                {{#each foundDays}}
                <a href="day/{{id}}"><img src="/images/week.png" alt="A glass" class="week-glass"></a>
                {{/each}}
            </div>
        </div>
    </div>
</div>