<div class="d-flex justify-content-center align-items-center container">

    <div class="d-flex card text-center">
        <div class="image"><img src="/images/teapot1.jpg" width="150"></div>
        <h1>Week 1</h1>
        <span class="d-block"></span>
        <span class="d-block"></span>

        {{#each foundDays}}
        <a href="day/{{id}}">This is a day mothafucka</a>
        {{/each}}

    </div>
</div>