<div class="splash-image">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a href="/calendar/week" class="d-flex justify-content-center align-items-center center-logo">
          <img src="./images/splash-logo.png">
        </a>

      </div>
    </div>
  </div>
  <div class="splash-user">
    <img style="width: 20px" src="./images/user_icon.png">
    <a style="text-decoration: none; color:black" href="profile/{{_id}}">{{name}}</a>
  </div>
</div>


<!-- Footer -->
<footer class="bg-light text-center text-white fixed-bottom">
  <!-- Grid container -->
  <div class="container p-4">

    <section class="">
      <!--Login button -->
      <a class="btn btn-outline-dark btn-floating m-1" href="/login#!" role="button">
        Log In
      </a>

      <!-- Sigup button -->
      <a class="btn btn-outline-dark bg-dark btn-floating m-1 text-light" href="/signup" role="button">
        Sign Up
      </a>
    </section>