<div class="splash-image">

{{!-- <a href="/calendar/day">Vasito</a> --}}
<a href="/calendar/week" class="d-flex justify-content-center align-items-center center-logo">
    <img src="./images/splash-logo.png">
</a>

{{!-- <div class="d-flex justify-content-center align-items-center"><img src="./images/splash-logo.png"></div> --}}

<a class="splash-user" href="profile/{{_id}}">{{username}} hola</a>




</div>

<!-- Footer -->
<footer class="bg-light text-center text-white fixed-bottom">
  <!-- Grid container -->
  <div class="container p-4">

    <section class="mb-4">
      <!--Login button -->
      <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button">
          Log In
      </a>

      <!-- Sigup button -->
      <a class="btn btn-outline-dark bg-dark btn-floating m-1 text-light" href="#!" role="button">
          Sign Up
      </a>
    </section>
