<div class="splash-image">

  <a href="/calendar/week" class="d-flex justify-content-center align-items-center center-logo">
    <img src="./images/splash-logo.png">
  </a>

{{!-- TODO mostrar un Hello, cuando estás logged-in --}}
  <a class="splash-user" href="profile/{{_id}}">{{name}}</a>

</div>


<!-- Footer -->
<footer class="bg-light text-center text-white fixed-bottom">
  <!-- Grid container -->
  <div class="container p-4">

    <section>
      <!--Login button -->
      <a class="btn btn-outline-dark btn-floating m-1" href="/login" role="button">
          Log In
      </a>

      <!-- Sigup button -->
      <a class="btn btn-outline-dark bg-dark btn-floating m-1 text-light" href="/signup" role="button">
          Sign Up
      </a>
    </section>
